version: '3.4'

services:
  footballpointsapp:
    image: footballpointsapp
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=football_db;Username=football;Password=football123
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: football_db
      POSTGRES_USER: football
      POSTGRES_PASSWORD: football123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
